<hr>
<h2>Adicionar um novo card a base de dados</h2>
<form>
    <p>Nome: <input type="text" name="nome" [(ngModel)]="card.nome"></p>
    <p>Atributo: <input type="text" name="atributo" [(ngModel)]="card.atributo"></p>
    <p>Nível: <input type="number" name="nivel" [(ngModel)]="card.nivel"></p>
    <p>Tipo: <input type="text" name="tipo" [(ngModel)]="card.tipo[0]"> /
        <input type="text" name="tipo" [(ngModel)]="card.tipo[1]"> /
        <input type="text" name="tipo" [(ngModel)]="card.tipo[2]">
    </p>
    <p>ATK: <input type="text" name="atk" [(ngModel)]="card.atk"></p>
    <p>DEF: <input type="text" name="def" [(ngModel)]="card.def"></p>
    <p>Descrição: <input type="text" name="descricao" [(ngModel)]="card.descricao"></p>
    <button type="submit" (click)="adicionarCard()">Adicionar card</button>
</form>
<hr>
<h2>Lista de cards</h2>
<table *ngFor="let card of cards">
    <br>
    <!-- <tr>
        <th>ID</th>
        <td>{{card.id}}</td>
    </tr> -->
    <tr>
        <th>Nome:</th>
        <td>{{card.nome}}</td>
    </tr>
    <tr>
        <th>Atributo:</th>
        <td>{{card.atributo}}</td>
    </tr>
    <tr>
        <th>Nível:</th>
        <td>{{card.nivel}}</td>
    </tr>
    <tr>
        <th>Tipo:</th>
        <td>{{card.tipo[0]}} {{card.tipo[1]}} {{card.tipo[2]}}</td>
    </tr>
    <tr>
        <th>ATK:</th>
        <td>{{card.atk}}</td>
    </tr>
    <tr>
        <th>DEF:</th>
        <td>{{card.def}}</td>
    </tr>
    <tr>
        <th>Descrição:</th>
        <td>{{card.descricao}}</td>
    </tr>
    <br>
    <button (click)="atualizarCard(card.id)">Editar</button>
    <br>
</table>