<h2>Cards</h2>
<table *ngFor="let card of cards">
    <br>
    <tr>
        <th>ID</th>
        <td>{{card.id}}</td>
    </tr>
    <tr>
        <th>Nome:</th>
        <td>{{card.nome}}</td>
    </tr>
    <tr>
        <th>Atributo:</th>
        <td>{{card.atributo}}</td>
    </tr>
    <tr>
        <th>Nível:</th>
        <td>{{card.nivel}}</td>
    </tr>
    <tr>
        <th>Tipo:</th>
        <td>{{card.tipo[0]}} {{card.tipo[1]}} {{card.tipo[2]}}</td>
    </tr>
    <tr>
        <th>ATK:</th>
        <td>{{card.atk}}</td>
    </tr>
    <tr>
        <th>DEF:</th>
        <td>{{card.def}}</td>
    </tr>
    <tr>
        <th>Descrição:</th>
        <td>{{card.descricao}}</td>
    </tr>
    <br>
</table>