<h2>Cards</h2>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <td>000</td>
    </tr>
    <tr>
        <th>Nome:</th>
        <td>---</td>
    </tr>
    <tr>
        <th>Atributo:</th>
        <td>---</td>
    </tr>
    <tr>
        <th>Nível:</th>
        <td>---</td>
    </tr>
    <tr>
        <th>Tipo:</th>
        <td>--- / --- / ---</td>
    </tr>
    <tr>
        <th>ATK:</th>
        <td>---</td>
    </tr>
    <tr>
        <th>DEF:</th>
        <td>---</td>
    </tr>
    <tr>
        <th>Materiais:</th>
        <td>---</td>
    </tr>
    <tr>
        <th>Descrição:</th>
        <td>---</td>
    </tr>
</table>